body {

  margin: 0;
  padding: 0;
  background-color: white;

}

.bodyColor {

}

.firstTitle {

  background-image: url(3.png);
  height: 22vh;
  width: 39vh;
  background-size: cover;
  border-radius: 90px;

}

.theSecondTitle {

  background-image: url(2.png);
  height: 22vh;
  width: 39vh;
  background-size: cover;
  border-radius: 90px;

}

.theThirdTitle {

  background-image: url(1.png);
  height: 22vh;
  width: 39vh;
  background-size: cover;
  border-radius: 90px;

}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link .nav-link {

  color: white;
  font-weight: bold;
  font-size: 22px;

}

.img-fluid {


  height: 111vh;
  background-image: url(uyuni5.jpg);
  background-size: cover;

}

.OverlayTopImage {

  width: 77vh;
  position: relative;
  top: 8%;
  margin-left: 30%;
  opacity: 0.725;
  border-radius: 30%;

}

.w-100 {

  margin-left: 33%;
  height: 25vh;
  max-width: 45%;

}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  font-size: 3vh;
}

.carousel-control-next-icon {

  background: blue;
  border-radius: 55%;

}

.carousel-control-prev-icon {

  background: blue;
  border-radius: 55%;

}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  background-color: white;
}

.accordion-item:first-of-type .accordion-button {

  font-weight: bold;

}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {

  font-weight: bold;

}

.footer {

  background-color: #0d6efd !important;
  height: 33vh;

}

.footerBottomLine {

  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 0%;
  margin-top: 6%;

}

.bottomOfFooter {

  font-size: 2vh;
  font-weight: bold;
  position: relative;
  top: 78%;

}

.btn-primary {

  font-size: 2vh;

}

.JumpTop {

  text-align: center;
  color: blue;
  font-family: Impact;
  font-weight: 0.7;
  margin-top: 18%;
  font-size: 7.3vh;

}

#page_top {

  width: 20vh;
  height: 20vh;
  position: fixed;
  right: 0;
  z-index: 10;
  bottom: -150px;
  background: radial-gradient(turquoise, blue);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

}

.youTube {

  height: 12vh;
  width: 25vh;
  background-image: url(6401.jpg);
  background-size: cover;
  border-radius: 90px;

}

.offcanvas-start {
  width: 55vh;
}

*,
::after,
::before {

  font-size: 3vh;

}

.twoVideos {
  display: flex;
}

.flexVideos {

  display: flex;
  margin-left: 25%;

}

.titleCentered {

  text-align: center;
  font-weight: bold;
  color: blue;

}

.titleCenteredHarukaAyase {

  height: 16vh;
  width: 33%;
  background-image: url(harukaAyase.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 31%;

}

.titleCenteredRikiTakeuchi {

  height: 20vh;
  width: 26%;
  background-image: url(RikiTakeuchi.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 33%;

}

.titleCenteredAKB48AndOfficialHigeDanDism {

  height: 18vh;
  width: 26%;
  background-image: url(titleCenteredAKB48AndOfficialHigeDanDism.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 35%;

}

.titleCenteredNice73JohnnysWest{

  height: 18vh;
  width: 33%;
  background-image: url(titleCenteredNice73JohnnysWest.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 35%;

}

.titleCenteredTrip {

  height: 18vh;
  width: 33%;
  background-image: url(titleCenteredTrip.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 35%;

}

.titleCenteredDisasterExperience {

  height: 18vh;
  width: 33%;
  background-image: url(titleCenteredDisasterExperience.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 28%;

}

.titleCenteredUniverse {

  height: 18vh;
  width: 33%;
  background-image: url(titleCenteredUniverse.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 28%;

}

.titleCenteredAmusementPark {

  height: 18vh;
  width: 33%;
  background-image: url(titleCenteredAmusementPark.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 28%;

}

.titleCenteredGravure {

  height: 18vh;
  width: 33%;
  background-image: url(titleCenteredGravure.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 28%;

}

.titleCenteredInAMasterpiece {

  height: 18vh;
  width: 33%;
  background-image: url(titleCenteredInAMasterpiece.jpg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  border-radius: 22px;
  margin-left: 28%;

}

.offcanvas-body {

  width: 104vh;

}

.style-attribute {

  width: 104vh;

}

.offcanvas-header {

  width: 104vh;
  padding-right: 80%;

}

.offcanvas.offcanvas-start.show {

  width: 104vh;

}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link .nav-link {
  font-size: 3vh;
}

.pleaseTurnOnJavaScript {
  font-size: 30px;
  font-weight: bold;
  color: red;
  background-color: yellow;
}

.contentOfTransmission {

  height: 1000px;
  background: white;

}

.inquiry {

  position: relative;
  border-radius: 50%;
  height: 10%;
  font-weight: 900;
  font-size: 200%;
  margin-left: 5%;
  margin-top: 1%;

}

.entryName {
  margin-top: 0%;
}

.Note {
  font-size: 20px;
  color: red;
  margin-top: 4%;
  margin-bottom: -3%;
  text-align: left;
  margin-left: 6%;
}

.entryPlace {

  width: 88%;
  height: 50px;
  font-size: 25px;
  margin-top: 5%;

}

.entryDetail {

  height: 207px;
  width: 88%;
  font-size: 25px;
  margin-top: 6%;

}

.submitButton333 {

  height: 5%;
  width: 33%;
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 8%;
  margin-top: 1%;
  margin-left: 0%;
  border-radius: 8px;

}

.contentOfTransmission {
  height: 1000px;
  border: solid 0.1px rgba(1, 1, 1, 0.2);
  text-align: center;
  border-radius: 15px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: white;
}

.inquiryTableName {

  font-weight: bold;
  color: firebrick;
  margin-top: 0%;
  font-size: 5vh;

}

.memberTableName {
  font-weight: bold;
  color: firebrick;
  margin-top: 0%;
  font-size: 5vh;
}

.tableIndex {

}

.red {
  color: red;
}

.file-up {

  margin-bottom: 10px;

}

.btn {

  cursor: pointer;

}

.imageSizeInVr {
  height: 50vh;
  width: 43vh;
  margin-left: 39%;
}

.PlaceOfPost {
  width: 50%;
  height: 60px;
  margin-left: 25%;
}

.SendButtonMove {

  text-align: center;

}

.imageUploadPage {

  font-weight: bold;
  color: red;
}

.AdminLoginPageCentered {

  margin-left: 33%;
  margin-top: 5%;

}

.mailMargin {

  margin-top: 3%;

}

.container {
  font-weight: 900;
}

.bodyColor {

  background-color: aqua;

}

.qaFotSize {
  height: 50vh;
  width: 50vh;
  margin-left: 10%;
}

.onclickDeleteButton{

  border-radius: 30px;
  background-color: #0d6efd;
  margin-top: 5%;
  margin-left: 45%;

}

@media screen and (max-width:1024px) {

  .titleCenteredHarukaAyase {

    height: 12vh;
    width: 33%;

  }

  .titleCenteredRikiTakeuchi {

    height: 14vh;
    width: 27%;

  }

  .titleCenteredAKB48AndOfficialHigeDanDism {

    height: 18vh;
    width: 30%;

  }

  .titleCenteredNice73JohnnysWest{

    height: 13vh;
    width: 31%;

  }

  .titleCenteredTrip {

    height: 17vh;
    width: 41%;

  }

  .titleCenteredDisasterExperience {

    height: 13vh;
    width: 41%;

  }

  .titleCenteredUniverse {

    height: 13vh;
    width: 41%;

  }

  .titleCenteredAmusementPark {

    height: 14vh;
    width: 36%;

  }

  .titleCenteredGravure {

    height: 13vh;
    width: 32%;

  }

  .titleCenteredInAMasterpiece {

    height: 16vh;
    width: 41%;

  }

  .OverlayTopImage {
    width: 77vh;
    position: relative;
    margin-left: 25%;
    padding-top: 7%;

  }

  .Note {
    font-size: 10px;
    color: red;
    margin-top: 3%;
    margin-bottom: -3%;
    text-align: left;
    margin-left: 6%;
  }

}

@media screen and (max-width:450px) {

  .img-fluid {

    height: 31vh;

  }

  .OverlayTopImage {

    width: 22vh;
    position: relative;
    margin-left: 25%;
    padding-top: 7%;

  }

  .w-100 {

    margin-left: 12%;
    height: 15vh;
    max-width: 77%;

  }

  .YouTubeScreen {

    height: 24vh;
    max-width: 22vh;

  }

  .offcanvas-header {

    padding-right: 178%;

  }

  *,
  ::after,
  ::before {

    font-size: 2vh;

  }

  .contentOfTransmission {

    height: 777px;

  }

  .inquiryTableName {


  }

  .memberTableName {

  }

  .tableIndex {

  }

  .imageSizeInVr {
    height: 40vh;
    width: 30vh;
    margin-left: 25%;
  }

  .flexVideos {

    display: flex;
    margin-left: 0%;

  }

  .qaFotSize {

    height: 35vh;
    width: 35vh;
    margin-left: 0%;

  }

  .onclickDeleteButton{

    border-radius: 30px;
    background-color: #0d6efd;
    margin-top: 5%;
    margin-left: 3%;

  }

  .titleCenteredHarukaAyase {

    height: 7vh;
    width: 55%;

  }

  .titleCenteredRikiTakeuchi {

    height: 7vh;
    width: 44%;

  }

  .titleCenteredAKB48AndOfficialHigeDanDism {

    height: 9vh;
    width: 57%;

  }

  .titleCenteredNice73JohnnysWest{

    height: 6vh;
    width: 51%;

  }

  .titleCenteredTrip {

    height: 6vh;
    width: 51%;

  }

  .titleCenteredDisasterExperience {

    height: 6vh;
    width: 51%;

  }

  .titleCenteredUniverse {

    height: 6vh;
    width: 51%;

  }

  .titleCenteredAmusementPark {

    height: 6vh;
    width: 51%;

  }

  .titleCenteredGravure {

    height: 6vh;
    width: 51%;

  }

  .titleCenteredInAMasterpiece {

    height: 6vh;
    width: 51%;

  }

}